p {
    color: rgb(238, 148, 14);
}
h2 {
    color: black;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: rgb(121, 115, 115);
}
a {
    color: white;
}