<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <script defer src="edit.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <a href="../../index.html"><img src="../../img/logo.png" /></a>
        <h2>Quiz App</h2>
      </ul>
      <ul>
        <li class="active"><a href="edit.html">Edit quiz</a></li>
        <li><a href="../play/play.html">Play quiz</a></li>
      </ul>
    </nav>
    <div id="edit-view">
      <h1>YOUR CODE FOR THE EDIT VIEW</h1>
    </div>
  </body>
</html>
