<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <script defer src="play.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <a href="../../index.html"><img src="../../img/logo.png" /></a>
        <h2>Quiz App</h2>
      </ul>
      <ul>
        <li><a href="../edit/edit.html">Edit quiz</a></li>
        <li class="active"><a href="play.html">Play quiz</a></li>
      </ul>
    </nav>
    <div id="play-view">
      <div id="start">Start Quiz!</div>

      <div id="quiz" style="display: none">
        <p id="question"></p>
        <div id="choices">
          <div class="choice" id="A" onclick="checkAnswer('A')">AAAA</div>
          <div class="choice" id="B" onclick="checkAnswer('B')">BBBB</div>
          <div class="choice" id="C" onclick="checkAnswer('C')">CCCC</div>
          <div class="choice" id="D" onclick="checkAnswer('C')">DD</div>
        </div>
      </div>
      <div id="score" style="display: none"></div>
    </div>
  </body>
</html>
