body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 173, 173);
    flex: 0.5;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    flex: 0.5;
    background-color: rgb(102, 102, 210);
}
.content-main{
    margin: 7px;
    gap: 7px;
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 16%;
    display: flex;
    flex-direction: column;

    /* background-color: greenyellow; */ */
}
.header{
    background-color: rgb(52, 227, 52);
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
}
.content{
    background-color: rgb(233, 61, 61);
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color: rgb(65, 209, 209);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  0px 0px 8px 8px;
}

