*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;

}

.container-nav{
    /* background: pink; */
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(161, 155, 155);
}
.nav-left{
    background: green;
    padding: 9px;
    flex: 1;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
}
.nav-center{
    background: greenyellow;
    flex: 1;
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;

}

.nav-right{
    background: gold;
    flex: 1;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    padding: 7px;
    display: flex;
    height: 90%;
    gap: 10px;
    background: rgb(246, 246, 246);
    justify-content: center;
}
.div-left{
    background: gray;
    width: 30%;

}
.div-center{
    background: red;
    width: 45%;
}

.div-right{
    background: blue;
    width: 30%;
}
.