.card {
    width: 23%;
    height: 150px;
    background: purple;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid black;
  }
  
  .card .card-header {
    flex: 1;
    text-align: center;
    color: white;
  }
  
  .card .card-body {
    padding: 10px;
    flex: 2.5;
    background: white;
  }
  
  .card .card-footer {
    display: flex;
    justify-content: center;
  
    align-items: center;
    flex: 1.5;
    justify-content: flex-end;
    padding-right: 10px;
  }
  
  .card .card-footer button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background: teal;
    color: white;
  }