body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 173, 173);
    flex: 0.5;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    flex: 0.5;
    background-color: rgb(102, 102, 210);
}
.content-main{
    background: greenyellow;
    margin: 0;
    gap: 7px;
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
