* {
    margin: 0;
    padding: 0;
}
body {
    background: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 10%;
}

img {
    width:180px;
    position: absolute;
    top:250px;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}