nav {
    @include centered;
    height: 10vh;
    background: $primary;
    justify-content: space-between;
  }
  
  nav div img {
    width: 70px;
  }
  
  nav ul {
    display: flex;
    width: 30%;
    justify-content: space-around;
  }
  
  nav ul a {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background: orange;
    text-decoration: none;
    color: black;
  }
  
  nav ul a li {
    list-style: none;
  }
  
  nav ul a:hover {
    background: darkorange;
    color: white;
  }