@import "./component/main";
.container {
   @include con;
}  
.card {
    border: 1px solid $text;
    padding: 10px;
}
.card-header {
    text-transform: uppercase;
    border-bottom: 1px solid $text;
}
.active {
    background: $boday;
}