@import "variables";

.card {
    background: $tertiary-color;
    width: 30%;
    border-radius: 10px;
    border: 3px solid $tertiary-color;
}

.card .img {
    width: 100%;
    background: $secondary-color;
    height: 150px;
    border-radius: 10px;
}

.card .card-content {
    padding: 10px;
}

.card .card-content h4 {
    margin: 10px;
    margin-bottom: 10px;
}