@import "group-mixins";
@import "variables";

footer {
    height: 15vh;
    background: $main-color;
    border-top: 2px solid $secondary-color;
    display: flex;
    justify-content: space-around;
}

footer>div {
    @include text-centered;
    flex-direction: column;
}

footer>div a {
    text-decoration: none;
    color: $tertiary-color
}