body {
  margin: 10px;
  font-family: Verdana;
}

.container {
  border: 2px solid rgb(244, 89, 89);
  display: flex;
}
.container > div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgb(10, 73, 246);
}
