.container-flex {
    width: 60%;
    height: 700px;
    display: flex;
    margin: auto;
    border: 5px solid black;
    /* to do  */
    /* justify-content: space-around; */
    /* justify-content: center;
    align-items: center; */
    /* justify-content: space-between;
    align-items: flex-end; */
}

.flex-item {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#flex-item-1 {
    background: teal;
}

#flex-item-2 {
    background: DarkSlateBlue;
    /* TO DO */
}

#flex-item-3 {
    background: MidnightBlue;
}