label, p, h2{
    font-family: sans-serif;
}
p{
    font-size: 12px;
}
.container{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 600px;
   
}
.col{
    padding: 20px;
}
.card{
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid green;
    border-left: 10px green solid;
    cursor: pointer;
}
button{
    padding: 10px;
    float: right;
}
#detail{
    border: 0.1px solid gray;
    margin-top: 30px;
    height: 170px;
    width: 600px;
    margin-left: 300px;
    border-radius: 10px;
    position: fixed;
}