body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    padding: 5px;
    background: #e4afaf;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    margin-right: 30px;
}
ul{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: center;
    width: 10%;
}

.logo img{
    width: 50px;
}

.nav-link{
    width: 100%;
}
.banner{
    display: flex;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}